<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://unpkg.com/vue@next"></script>

</head>
<body>
<div id="app">

    <h1>Hello vue forms</h1>

    <label for="name">Please enter your name:</label><br>
    <input v-model="name" id="name">
    <p v-if="name">Your name is {{ name }}
    <button v-on:click="clear">Clear input</button></p>
    <p v-else>
        waiting for user input
    </p>



</div>

<script>
    let app=Vue.createApp({
        data(){
            return{
                name:''
            }
        },methods:{
             clear(){
                 this.name=''
             }
            }
    })

    app.mount('#app')
</script>
</body>
</html>

<!--Question 2
What does this Vue warning message mean? Can you safely ignore it? What causes it, and how do you fix it?  Write an answer in your own words.
The warning is causes by two scenarios
1.	When we use in the template, but it is not define or used in the Vue data
2.	The variable is defined in both template and Vue data but the spelling or the name is different.
-->
